<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1 id="first-h1">First Element</h1>

    <a id="link-tag" href="https://www.google.com">go to google</a>
    
    <h1 style="display: none;" id="warning">Wrong Password</h1>

    <ul>
        <li class="all-lis">2</li>
        <li class="all-lis">3</li>
        <li class="all-lis">4</li>
        <li class="all-lis">5</li>
        <li class="all-lis">6</li>
    </ul>

    <div id="container">

    </div>

    <button onclick="clickButton()" id="button">Click me</button>



    <script src="../scripts/index.js"></script>
</body>
</html>